<section>
    <section>
        <header>
            <h1>{{title}}</h1>
        </header>
        <p>{{post_content}}</p>
        <p>{{user.username}} - {{format_date created_at}}</p>
        <button type="submit" id="delete-btn" class="btn">Delete</button>
        <button type="submit" id="update-btn" class="btn">Update</button>
    </section>

<script src="/js/deletePost.js"></script>
