<section>
    <div>
        <h3>Edit Post</h3>
        <form>
            <label for="title">Title</label>
            <input name="title" id="title-input" type="text" value="{{title}}" />
            <label for="post_content">Content</label>
            <input name="post_content" id="content-input" type="text" value="{{post_content}}" />
        </form>
        <button type="submit" id="delete-btn" class="btn">Delete</button>
        <button type="submit" id="update-btn" class="btn">Update</button>
    </div>
</section>

<script src="/js/deletePost.js"></script>
<script src="/js/updatePost.js"></script>