<div class="card">
  <div class="card-header">
    <h2>New Post</h2>
  </div>
  <div id="newPost" role="tabpanel">
    <form id="new-post-form" class="card-body">
      <div>
        <label for="title-input">Title</label>
        <input type="text" id="title-input" />
      </div>
      <div>
        <label for="content-input">Content</label>
        <textarea name="post-content" id="content-input" cols="30" rows="5"></textarea>
      </div>
      <button type="submit" id="newpost-btn" class="btn" >Create Post</button>
    </form>
  </div>
</div>

<script src="/js/newPost.js"></script>